
<p-button *ngIf="tipoAccion=='editar'" label="Agregar Productor" icon="pi pi-plus" (click)="showDialog() "></p-button>

<span *ngIf="productorSeleccionado?'':'Seleccione el productor'" class="text-red-600 ml-2">Seleccione el productor</span>


<p-dialog header="" [(visible)]="display">
    <p-table 
    #dt 
    [value]="listarProductores" 
    [(selection)]="selectedCustomer" 
    dataKey="id" 
    styleClass="p-datatable-customers" 
    [rowHover]="true"
    [rows]="10" 
    [showCurrentPageReport]="true" 
    [rowsPerPageOptions]="[10,25,50]" 
    [loading]="loading" 
    responsiveLayout="scroll"
    [paginator]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" 
    [globalFilterFields]="['id','nombre', 'apellido', 'cedula', 'celular']">
    <ng-template pTemplate="caption">

    <div class="table-header">
        <div class="grid">
            <div class="col-6">
                <h3 class="mt-4"><b>Seleccionar Productor</b></h3>
            </div>

            <div class="col-6">
                <div class="col-12 text-right">

                    <div class="grid align-items-center">
                        <div class="col-4 md:col-6 lg:col-6">Buscar</div>
                        <div class="col-8 md:col-6 lg:col-6 ">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input 
                                    pInputText 
                                    type="text" 
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" 
                                    placeholder="Buscar por nombre" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">
                <div class="flex justify-content-between align-items-center">
                    #
                    <p-sortIcon field="id"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="nombre">
                <div class="flex justify-content-between align-items-center">
                    Nombre
                    <p-sortIcon field="nombre"></p-sortIcon>
                </div>
            </th>

            <th pSortableColumn="apellido">
                <div class="flex justify-content-between align-items-center">
                    Apellido
                    <p-sortIcon field="apellido"></p-sortIcon>
                </div>
            </th>

            <th pSortableColumn="cedula">
                <div class="flex justify-content-between align-items-center">
                    Cédula
                    <p-sortIcon field="cedula"></p-sortIcon>
                </div>
            </th>

            <th pSortableColumn="celular">
                <div class="flex justify-content-between align-items-center">
                    Celular
                    <p-sortIcon field="celular"></p-sortIcon>
                </div>
            </th>

            <th pSortableColumn="canton">
                <div class="flex justify-content-between align-items-center">
                    Cantón
                    <p-sortIcon field="canton"></p-sortIcon>
                </div>
            </th>


            <th pSortableColumn="parroquia">
                <div class="flex justify-content-between align-items-center">
                    Parroquia
                    <p-sortIcon field="parroquia"></p-sortIcon>
                </div>
            </th>
            
            <th>
                <div class="flex justify-content-between align-items-center">
                    Acciones
                   
                </div>
            </th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-productor let-rowIndex="rowIndex">
        <tr class="p-selectable-row">
            <td>
                <span class="p-column-title">ID</span>
                {{rowIndex+1}}
            </td>
            <td>
                <span class="p-column-title">Nombre</span>
                {{productor.nombre}}
            </td>

            <td>
                <span class="p-column-title">Apellido</span>
                {{productor.apellido}}
            </td>
            <td>
                <span class="p-column-title">Cédula</span>
                <span class="image-text">{{productor.cedula}}</span>
            </td>
            
            <td>
                <span class="p-column-title">Celular</span>
                <span class="image-text">{{productor.celular}}</span>
            </td>

            <td>
                <span class="p-column-title">Cantón</span>
                <span class="image-text">{{productor.fk_canton.nombre}}</span>
            </td>

            <td>
                <span class="p-column-title">Parroquia</span>
                <span class="image-text">{{productor.fk_parroquia.nombre}}</span>
            </td>
            <td>
                <span class="p-column-title">Acciones</span>
                <div class="text-center pr-8">
                    
                    <abbr title="Añadir productor">
                        <i class="pi pi-plus pl-3" (click)="btnSeleccionarroductor(productor)"> Añadir</i>
                    </abbr>
                    
                    
                </div>
            </td>
        </tr>
    </ng-template> 
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No customers found.</td>
        </tr>
    </ng-template>
</p-table>
</p-dialog>

<p-toast></p-toast>


<div *ngIf="selectedCustomer && tipoAccion!='ver'">

    <div class="col-12 md:col-12" >
        <div class="card p-fluid">
            <div class="grid">
                    <div class="col-6 md:col-6 lg:col-6">
                        <div class="field">
                            <label htmlFor="nombre"><b>Nombre</b></label>
                            <br>
                            <label htmlFor="nombre">{{selectedCustomer.nombre}}</label>
                        </div>
                    </div>
                    <div class="col-6 md:col-6 lg:col-6">
                        <div class="field">
                            <label htmlFor="apellido"><b>Apellido</b></label>
                            <br>
                            <label htmlFor="apellido">{{selectedCustomer.apellido}}</label>
                        </div>
                    </div>
            </div>

            <div class="grid">
                <div class="col-6 md:col-6 lg:col-6">
                    <div class="field">
                        <label htmlFor="cedula"><b>Cédula</b></label>
                        <br>
                        <label htmlFor="cedula">{{selectedCustomer.cedula}}</label>
                    </div>
                </div>
                <div class="col-6 md:col-6 lg:col-6">
                    <div class="field">
                        <label htmlFor="celular"><b>Celular</b></label>
                        <br>
                        <label htmlFor="celular">{{selectedCustomer.celular}}</label>
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="col-6 md:col-6 lg:col-6">
                    <div class="field">
                        <label htmlFor="fk_canton"><b>Cantón</b></label>
                        <br>
                        <label htmlFor="fk_canton">{{selectedCustomer.fk_canton.nombre}}</label>
                    </div>
                </div>
                <div class="col-6 md:col-6 lg:col-6">
                    <div class="field">
                        <label htmlFor="fk_parroquia"><b>Parroquia</b></label>
                        <br>
                        <label htmlFor="fk_parroquia">{{selectedCustomer.fk_parroquia.nombre}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<form [formGroup]="formProduccion" (ngSubmit)="crearProduccion()"  *ngIf="tipoAccion=='editar'">
    <div class="col-12 md:col-12">
        <div class="card p-fluid">
           
            <div class="grid">
                <div class="col-4 m-0">
                    <label htmlFor="year">Año</label>
                    <p-calendar formControlName="year" view="year" dateFormat="yy"></p-calendar>
    
                
                
                    <span *ngIf="submited && this.formProduccion.get('year')?.errors?.['required']" >
                        <p class="text-red-600">(El año no puede quedar vacío)</p>
                    </span>
    
                </div>
            </div>

            <div class="grid">
                <div class="col-6">
                    <div class="field">
                        <label htmlFor="quintales">Quintales</label>
                        <input pInputText id="name1" type="text" (change)="changeQuintalesToneladas($event)" onkeypress="if(event.keyCode < 46 || event.keyCode > 57 || event.keyCode == 47) event.returnValue = false;" formControlName="quintales"  />
                    </div>
                    <span *ngIf="submited && this.formProduccion.get('quintales')?.errors?.['required']">
                        <p class="text-red-600">(Los quintales no pueden quedar vacíos)</p>
                    </span>
                </div>

                <div class="col-6">
                    <div class="field">
                        <label htmlFor="toneladas">Toneladas</label>
                        <input pInputText id="name1" readonly type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="toneladas"  />
                    </div>

                    <span *ngIf="submited && this.formProduccion.get('toneladas')?.errors?.['required']">
                        <p class="text-red-600">(Las toneladas de venta no pueden quedar vacío)</p>
                    </span>

            </div>

               

                    
            </div>

            <div class="grid">

                <div class="col-6">
                    <div class="field">
                        <label htmlFor="hectareas">Hectáreas</label>
                        <input pInputText id="name1" type="text" (change)="changeTipoProduccion($event)" onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="hectareas"/>
                    
                        <span *ngIf="submited && this.formProduccion.get('hectareas')?.errors?.['required']">
                            <p class="text-red-600">(Las hectáreas de venta no pueden quedar vacío)</p>
                        </span>
        
                    </div>
                    
                </div>

                <div class="col-6">
                    <div class="field">
                        <label htmlFor="fk_tipo_productor_id">Tipo</label>
                        <input pInputText id="selectedtype" readonly type="text" formControlName="fk_tipo_productor_id"  />
                    </div>
                    <span *ngIf="submited && this.formProduccion.get('fk_tipo_productor_id')?.errors?.['required']">
                        <p class="text-red-600">(El tipo no puede quedar vacío)</p>
                    </span>
                </div>
            </div>

           
            <div class="field">
                <label htmlFor="precio_venta">Precio de venta</label>
                <input pInputText id="name1" type="text" onkeypress="if(event.keyCode < 46 || event.keyCode > 57 || event.keyCode == 47) event.returnValue = false;" formControlName="precio_venta"  />
            </div>

            <span *ngIf="submited && this.formProduccion.get('precio_venta')?.errors?.['required']">
                <p class="text-red-600">(El precio de venta no puede quedar vacío)</p>
            </span>

            


        </div>
        <div class="grid align-content-end text-right">
            <div class="col-12">
                <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" ></button>
                <button type="button" pButton icon="pi pi-times"  label="Cerrar" class="p-button-raised p-button-danger" (click)="cerrarModal()"></button>
            </div>
        </div>

    </div>
</form>

<div class="col-12 md:col-12" *ngIf="tipoAccion=='ver'" >
    <div class="card p-fluid">
        <h5><b>Datos Productor</b></h5>
        <hr>
        <div class="grid">
                <div class="col-6 md:col-6 lg:col-4">
                    <div class="field">
                        <label htmlFor="nombre"><b>Nombre</b></label>
                        <br>
                        <label htmlFor="nombre">{{modeloUnProduccion.fk_productor.nombre}}</label>
                    </div>
                </div>
                <div class="col-6 md:col-6 lg:col-4">
                    <div class="field">
                        <label htmlFor="apellido"><b>Apellido</b></label>
                        <br>
                        <label htmlFor="apellido">{{modeloUnProduccion.fk_productor.apellido}}</label>
                    </div>
                </div>

                <div class="col-6 md:col-6 lg:col-4">
                    <div class="field">
                        <label htmlFor="cedula"><b>Cédula</b></label>
                        <br>
                        <label htmlFor="cedula">{{modeloUnProduccion.fk_productor.cedula}}</label>
                    </div>
                </div>
        </div>

        <h5><b>Datos Producción de Maíz</b></h5>
        <hr>

        <div class="grid">
            <div class="col-6 md:col-6 lg:col-6">
                <div class="field">
                    <label htmlFor="toneladas"><b>Toneladas</b></label>
                    <br>
                    <label htmlFor="toneladas">{{modeloUnProduccion.toneladas}}</label>
                </div>
            </div>
            <div class="col-6 md:col-6 lg:col-6">
                <div class="field">
                    <label htmlFor="quintales"><b>Quintales</b></label>
                    <br>
                    <label htmlFor="quintales">{{modeloUnProduccion.quintales}}</label>
                </div>
            </div>
            <div class="col-6 md:col-6 lg:col-6">
                <div class="field">
                    <label htmlFor="hectareas"><b>Hectáreas</b></label>
                    <br>
                    <label htmlFor="hectareas">{{modeloUnProduccion.hectareas}}</label>
                </div>
            </div>
            <div class="col-6 md:col-6 lg:col-6">
                <div class="field">
                    <label htmlFor="precio_venta"><b>Precio de Venta</b></label>
                    <br>
                    <label htmlFor="precio_venta">{{modeloUnProduccion.precio_venta}}</label>
                </div>
            </div>
            <div class="col-6 md:col-6 lg:col-6">
                <div class="field">
                    <label htmlFor="tipo"><b>Tipo</b></label>
                    <br>
                    <label htmlFor="tipo">{{modeloUnProduccion.fk_tipo_productor.nombre}}</label>
                </div>
            </div>
            <div class="col-6 md:col-6 lg:col-6">
                <div class="field">
                    <label htmlFor="tipo"><b>Año</b></label>
                    <br>
                    <label htmlFor="tipo">{{modeloUnProduccion.year}}</label>
                </div>
            </div>
        </div>

    </div>
</div>
