
<p-toast></p-toast>
<div class="col-12">
    <p-button label="Agregar Productor" icon="pi pi-plus" (click)="showDialog()"></p-button>
    <span *ngIf="!selectedCustomer" class="text-red-600 ml-2">Seleccione el productor</span>
</div>

<div class="grid">
    <div class="col-12 md:col-12 lg:col-12">
        <div class="grid">
            <div class="col-3">
                <div class="field">
                    <label htmlFor="nombre"><b>Nombre Productor</b></label>
                    <br>
                    <span *ngIf="!selectedCustomer">-----</span>
                    <span *ngIf="selectedCustomer">{{selectedCustomer?.nombre}}</span>
                </div>
            </div>
            <div class="col-3">
                <div class="field">
                    <label htmlFor="apellido"><b>Apellido Productor</b></label>
                    <br>
                    <span *ngIf="!selectedCustomer">-----</span>
                    <span *ngIf="selectedCustomer">{{selectedCustomer?.apellido}}</span>
                </div>
            </div>
            <div class="col-3">
                <div class="field">
                    <label htmlFor="cedula"><b>Cédula del Productor</b></label>
                    <br>
                    <span *ngIf="!selectedCustomer">-----</span>
                    <span *ngIf="selectedCustomer">{{selectedCustomer.fk_canton?.nombre}}</span>
                </div>
            </div>
            <div class="col-3">
                <div class="field">
                    <label htmlFor="cedula"><b>Parroquia del Productor</b></label>
                    <br>
                    <span *ngIf="!selectedCustomer">-----</span>
                    <span *ngIf="selectedCustomer">{{selectedCustomer.fk_parroquia?.nombre}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="formProduccion" (ngSubmit)="crearProduccion()" autocomplete="off">
    <div class="col-12 md:col-12">
        <div class="card p-fluid">
            <div class="grid">
                <div class="col-6 ">
                    <div class="field">
                        <label htmlFor="year">Año</label>
                        <p-calendar
                            formControlName="year"
                            view="year"
                            [disabled]="modoLectura"
                            [ngClass]="{'ng-invalid ng-dirty': year}"
                            dateFormat="yy">
                        </p-calendar>
                        <span *ngIf="year && this.formProduccion.get('year')?.errors?.['required']" >
                            <p class="text-red-600">(El año no puede quedar vacío)</p>
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field">
                        <label htmlFor="precio_venta">Precio de venta</label>
                        <input pInputText
                                id="name1"
                                [readOnly]="modoLectura"
                                type="number"
                                [ngClass]="{'ng-invalid ng-dirty': precio_venta}"
                                onkeypress="if(event.keyCode < 46 || event.keyCode > 57 || event.keyCode == 47) event.returnValue = false;"
                                formControlName="precio_venta"  />
                    </div>
                    <span *ngIf="precio_venta && this.formProduccion.get('precio_venta')?.errors?.['required']">
                        <p class="text-red-600">(El precio de venta no puede quedar vacío)</p>
                    </span>
                </div>
            </div>

            <div class="grid">
                <div class="col-6">
                    <div class="field">
                        <label htmlFor="quintales">Quintales</label>
                        <input pInputText
                                id="name1"
                                [readOnly]="modoLectura"
                                type="numer"
                                [ngClass]="{'ng-invalid ng-dirty': quintales}"
                                (input)="changeQuintalesToneladas($event)" onkeypress="if(event.keyCode < 46 || event.keyCode > 57 || event.keyCode == 47) event.returnValue = false;" formControlName="quintales"  />
                    </div>
                    <span *ngIf="quintales && this.formProduccion.get('quintales')?.errors?.['required']">
                        <p class="text-red-600">(Los quintales no pueden quedar vacíos)</p>
                    </span>
                </div>

                <div class="col-6">
                    <div class="field">
                        <label htmlFor="toneladas">Toneladas</label>
                        <input
                            pInputText
                            id="name1"
                            readonly
                            [readOnly]="modoLectura"
                            type="number"
                            [ngClass]="{'ng-invalid ng-dirty': toneladas}"
                            onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="toneladas"  />
                    </div>

                    <span *ngIf="toneladas && this.formProduccion.get('toneladas')?.errors?.['required']">
                        <p class="text-red-600">(Las toneladas de venta no pueden quedar vacío)</p>
                    </span>

                </div>
            </div>

            <div class="grid">
                <div class="col-6">
                    <div class="field">
                        <label htmlFor="hectareas">Hectáreas</label>
                        <input pInputText
                                id="name1"
                                type="numer"
                                [readOnly]="modoLectura"
                                [ngClass]="{'ng-invalid ng-dirty': hectareas}"
                                (input)="changeTipoProduccion($event)"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="hectareas"/>
                        <span *ngIf="hectareas && this.formProduccion.get('hectareas')?.errors?.['required']">
                            <p class="text-red-600">(Las hectáreas de venta no pueden quedar vacío)</p>
                        </span>

                    </div>

                </div>

                <div class="col-6">
                    <div class="field">
                        <label htmlFor="fk_tipo_productor_id">Tipo</label>
                        <input
                            pInputText
                            id="selectedtype"
                            [readonly]="true"
                            type="text"
                            *ngIf="listarTiposDeProductores"
                            [ngClass]="{'ng-invalid ng-dirty': fk_tipo_productor_id}"
                            formControlName="fk_tipo_productor_id"  />
                        <span *ngIf="fk_tipo_productor_id && this.formProduccion.get('fk_tipo_productor_id')?.errors?.['required']">
                            <p class="text-red-600">(El tipo no puede quedar vacío)</p>
                        </span>
                        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"  *ngIf="!listarTiposDeProductores" ></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid align-content-end text-right">
            <div class="col-12">
                <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" *ngIf="!modoLectura"></button>
            </div>
        </div>

    </div>
</form>
