<div class="card ui-fluid animate__animated animate__fadeIn" >
    <div class="col-12">
        <h2>Editar Resultado</h2>
    </div>
    <app-formulario-resultados
    [modeloResultado]="modeloResultado"
    [modoLectura]="false"
    (onSubmitResultado)="editarResultado($event)">
    </app-formulario-resultados>
    <p-toast></p-toast>
    <div *ngIf="!modeloResultado" class="justify-content-center text-center">
        <h5>Cargando...</h5>
        <p-progressBar  mode="indeterminate"></p-progressBar>
    </div>
</div>
