<div class="card ui-fluid animate__animated animate__fadeIn" >
    <div class="col-12">
        <p-button    [routerLink]="['/admin/galeria']" label="Regresar">
            <i class="pi pi-arrow-left mr-1"></i>
        </p-button>
    </div>
    <app-form-galeria
    [modeloGaleria]="modeloGaleriaFull"
    *ngIf="modeloGaleriaFull"
    (onSubmitCanton)="editarGaleria($event)">
    </app-form-galeria>
    <p-toast></p-toast>
    <div *ngIf="!modeloGaleriaFull" class="justify-content-center text-center">
        <h5>Cargando...</h5>
        <p-progressBar  mode="indeterminate"></p-progressBar>
    </div>
</div>
