<div class="card ui-fluid animate__animated animate__fadeIn" >
    <div class="col-12">
        <h2>Editar Galería</h2>
    </div>
    <app-form-galeria
    [modeloGaleria]="modeloGaleriaFull"
    *ngIf="modeloGaleriaFull"
    (onSubmitGaleria)="editarGaleria($event)">
    </app-form-galeria>
    <p-toast></p-toast>
    <div *ngIf="!modeloGaleriaFull" class="justify-content-center text-center">
        <h5>Cargando...</h5>
        <p-progressBar  mode="indeterminate"></p-progressBar>
    </div>
</div>
