<div class="card ui-fluid animate__animated animate__fadeIn" >
    <div class="col-12">
        <p-button    [routerLink]="['/admin/parroquia']" label="Regresar">
            <i class="pi pi-arrow-left mr-1"></i>
        </p-button>
    </div>
    <app-formulario-parroquia
    [modeloUnaParroquia]="modeloParroquia"
    *ngIf="modeloParroquia"
    (onSubmitParroquia)="editarParroquia($event)">
    </app-formulario-parroquia>
    <p-toast></p-toast>
    <div *ngIf="!modeloParroquia" class="justify-content-center text-center">
        <h5>Cargando...</h5>
        <p-progressBar  mode="indeterminate"></p-progressBar>
    </div>
</div>
