<div class="card ui-fluid animate__animated animate__fadeIn" >
    <div class="col-12">
        <h2>Editar Parroquia</h2>
    </div>
    <app-formulario-parroquia
    [modeloUnaParroquia]="modeloUnaParroquia"
    *ngIf="modeloUnaParroquia"
    (onSubmitParroquia)="editarParroquia($event)">
    </app-formulario-parroquia>
    <p-toast></p-toast>
    <div *ngIf="!modeloUnaParroquia" class="justify-content-center text-center">
        <h5>Cargando...</h5>
        <p-progressBar  mode="indeterminate"></p-progressBar>
    </div>
</div>
