<p-toast></p-toast>
<p-button label="Agregar" icon="pi pi-plus" (click)="btnAgregar()"></p-button>
<p-table 
    #dt 
    [value]="listarIntermediario" 
    [(selection)]="selectedCustomer" 
    dataKey="id" 
    styleClass="p-datatable-customers" 
    [rowHover]="true"
    [rows]="10" 
    [showCurrentPageReport]="true" 
    [rowsPerPageOptions]="[10,25,50]" 
    [loading]="loading" 
    responsiveLayout="scroll"
    [paginator]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" 
    [globalFilterFields]="['id','year_compra']">
    <ng-template pTemplate="caption">

    <div class="table-header">
        <div class="grid">
            <div class="col-6">
                <h3 class="mt-4"><b>Gestionar Intermediarios Producción</b></h3>
            </div>

            <div class="col-6">
                <div class="col-12 text-right">

                    <div class="grid align-items-center">
                        <div class="col-4 md:col-6 lg:col-6">Buscar</div>
                        <div class="col-8 md:col-6 lg:col-6 ">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input 
                                    pInputText 
                                    type="text" 
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" 
                                    placeholder="Buscar por año" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">
                <div class="flex justify-content-between align-items-center">
                    #
                </div>
            </th>
            <th pSortableColumn="nombre">
                <div class="flex justify-content-between align-items-center">
                    Nombre
                </div>
            </th>

            <th pSortableColumn="cedula">
                <div class="flex justify-content-between align-items-center">
                    Cédula
                </div>
            </th>

            <th>
                <div class="flex justify-content-between align-items-center">
                    Intermediario
                </div>
            </th>

            
            <th >
                <abbr title="Cantidad Comprada">
                <div class="flex justify-content-between align-items-center">
                    Cant. Comprada
                </div>
            </abbr>
            </th>

            <th pSortableColumn="year_compra">
                <div class="flex justify-content-between align-items-center">
                    Año
                    <p-sortIcon field="year_compra"></p-sortIcon>
                </div>
            </th>
            
            
            
            <th>
                <div class="flex justify-content-between align-items-center">
                    Acciones
                   
                </div>
            </th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-empresa let-rowIndex="rowIndex">
        <tr class="p-selectable-row">
            
            <td>
                <span class="p-column-title">ID</span>
                {{rowIndex+1}}
            </td>
            
            <td>
                <span class="p-column-title">Nombre</span>
                {{empresa.fk_produccion.fk_productor.nombre}}<br>
                {{empresa.fk_produccion.fk_productor.apellido}}
            </td>


            <td>
                <span class="p-column-title">Cédula</span>
                {{empresa.fk_produccion.fk_productor.cedula}}
            </td>

            <td>
                <span class="p-column-title">Intermediario</span>
                {{empresa.fk_intermediario.lugar}}
            </td>


            <td>
                <span class="p-column-title">Cant. Comprada</span>
                <span class="image-text">{{empresa.cantidad_comprada}}</span>
            </td>

            <td>
                <span class="p-column-title">Año</span>
                {{empresa.year_compra}}
            </td>

            

            <td>
                <span class="p-column-title">Acciones</span>
                <div class="text-center pr-8">
                    <i class="pi pi-eye pr-3" (click)="btnVerIntermediario(empresa)"></i>
                    <i class="pi pi-pencil" (click)="btnEditarIntermediario(empresa)"></i>
                 <!--   <i class="pi pi-trash pl-3" (click)="btnEliminarIntermediario(empresa)"></i>-->
                </div>
            </td>
        </tr>
    </ng-template> 
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No customers found.</td>
        </tr>
    </ng-template>
</p-table>