<div *ngIf="mostrarMenu" class="layout-topbar shadow-5 " >

  
      <button class="p-link layout-topbar-menu-button layout-topbar-button p-trigger"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    
        <button  class="p-link layout-menu-button layout-topbar-button p-trigger" (click)="visibleSidebarMenu = true">
            <i class="pi pi-bars "></i>
        </button>
    
        <a class="layout-topbar-logo" routerLink="">
            <img src="assets/layout/images/logo-proedits.png"  alt="logo">
        </a>
    
       
        <div class="layout-topbar-search pr-8" *ngIf="mostrarSearch">
            <span class="p-input-icon-left">
                <input  type="text" pInputText class="p-orderlist-filter-input p-inputtext p-component" placeholder="Search" class="search-input">
                <i class="pi pi-search"></i>
            </span>
        </div>
    
    
        
        <div class="icons__topbar flex pl-8">
            <button *ngIf="getScreenWidth<=753" class="search__icon p-link layout-topbar-button pl-0 m-2" (click)="mostrarSearch()">
                <i class="pi pi-search"></i>
                <span>Search</span>
            </button>
            
            <button class="topbar__carrito-icon p-link layout-topbar-button pl-0 m-2" (click)="visibleSidebarCarrito = true">
                <i class="pi pi-shopping-cart"></i>
                <span>Carrito</span>
            </button>
    
            <button class="topbar__user-icon p-link layout-topbar-button pl-0 m-2">
                <i class="pi pi-user"></i>
                <span>Perfil</span>
            </button>
        </div>

</div>
<br>
<!-- <div class="container text-center pt-8">
    <p>Window width: <strong>{{ getScreenWidth }}</strong></p>
    <p>Window height: <strong>{{ getScreenHeight }}</strong></p>
  </div>-->

<div  *ngIf="mostrarSearch" class="shadow-8 p-0 z-5 top-0 w-full fixed h-5rem left-0 pr-4 pl-4" 
style="
background-color: white;">

        <div class="grid pt-2">
            <div class="col-11 md:col-11 lg:col-11 pr-0">
                <div >
                    <span class="w-full h-full p-input-icon-left">
                        <input  type="text" pInputText 
                        class="w-full h-full p-orderlist-filter-input p-inputtext p-component" 
                        placeholder="Search" style="box-shadow: none; border: none; font-size: 1.5rem;">
                        <i class="pi pi-search"></i>
                    </span>
                </div>
            
            
                
            </div>
            <div class="col-1 md:col-1 lg:col-1 pl-0 pt-5 pr-0">
                <i  (click)="mostrarDatosMenu()" class="pi pi-times" style="font-size: 1.5rem;"></i>
            </div>
        </div>
</div>


<p-sidebar [(visible)]="visibleSidebarMenu" position="left" [baseZIndex]="10000">
    <h3>Left Sidebar</h3>
</p-sidebar>


<p-sidebar [(visible)]="visibleSidebarCarrito" position="right" [baseZIndex]="10000" >
<app-carrito></app-carrito>
</p-sidebar>