
.product-image {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
    width: 280px;
}
.surface-overlay{
    background-color: #94bfe2 !important;
}
.surface-ground {
    background-color: #2b74e4 !important;
    height: 480px;
  }
  .surface-card {
    background-color: #532275 !important;
  }
.tarjeta{
    background-color: #a981d8 !important;
}