
   .linea{
    margin: 0 20px;
    width: 80px;
    border-top: 4px solid #c52626;
    position: relative;
    top: 56px;
}
.product-item {
    .product-item-content {
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
    }

    .product-image {
        width: 100%;
        height:auto;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}
.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
    width: 280px;
  }

