.surface-overlay{
    background-color: #94bfe2 !important;
}
.surface-ground {
    background-color: #2b74e4 !important;
    height: 480px;
  }
  .surface-card {
    background-color: #532275 !important;
  }
  .tarjeta{
    background-color: #a981d8 !important;
}
