<div class="mt-0 p-0">
    <div class="surface-ground px-4 py-4 md:px-6lg:px-8 p-0 m-0 bg-blue-800">
        <div class="text-900 font-bold text-5xl text-white">Objetivo General</div>
        <div class="pl-2 text-2xl border-black-500 surface-overlay border-3 border-round font-bold ml-8 flex align-items-center" style="min-width: 200px; min-height: 100px">
            Analizar el proceso de producción de maíz en el campo contable, financiero y de rentabilidad en la provincia de Loja.</div>
        <div class="text-700 font-bold text-4xl mb-2 text-white">Objetivos Específicos</div>
        <div class="grid">
            <div class="col-4 md:col-4 lg:col-4">
                <div class="p-3 h-14rem">
                    <div class="shadow-2 p-2 flex flex-column surface-card" style="border-radius: 6px">
                        <div class="text-xl h-14rem tarjeta border-500 text-white hover:border-700 border-3 border-round surface-overlay font-bold m-2 flex align-items-center" style="min-width: 200px; min-height: 100px">
                            Conocer la relación costo-beneficio, rentabilidad y su efecto, en el proceso de producción de maíz en la Provincia de Loja
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 md:col-4 lg:col-4">
                <div class="p-3 h-14rem">
                    <div class="shadow-2 p-2 flex flex-column surface-card" style="border-radius: 6px">
                        <div class="text-xl h-14rem tarjeta border-500 text-white hover:border-700 border-3 border-round surface-overlay font-bold m-2 flex align-items-center" style="min-width: 200px; min-height: 100px">
                            Evaluar la incidencia de la aplicación de controles vs. indicadores de gestión en el proceso de producción de maíz en la Provincia de Loja.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 md:col-4 lg:col-4">
                <div class="p-3 h-14rem">
                    <div class="shadow-2 p-2 flex flex-column surface-card" style="border-radius: 6px">
                        <div class="text-xl  h-14rem tarjeta border-500 text-white hover:border-700 border-3 border-round surface-overlay font-bold m-2 flex align-items-center" style="min-width: 200px; min-height: 100px">
                            Evaluar la incidencia de la aplicación de controles vs. indicadores de gestión en el proceso de producción de maíz en la Provincia de Loja.
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
