<div class="grid  pt-3 pb-0 pr-2">

    <div class="col-fixed pr-1">
        <img class=" pl-3"
            src="../../../../../assets/images/WhatsApp Image 2022-10-07 at 7.20.00 PM.jpeg"
            width="125rem" alt="">
    </div>

    <div class="col pb-1 pt-1">
        <div class="col-12 pb-2 pr-0">
            <div class="grid">
                <div class="col-11 md:col-11 lg:col-1 pl-0 pb-0">
                    <span class="bg-cyan-500 text-white">NUEVO</span>
                </div>
                <div class="col-12 md:col-12 lg:col-11 pl-0 pt-2 pb-1">
                      
                    <div class="grid pt-3">
                        <div class="col-flexed  pl-1">
                            <button (click)="sendPlay('../../../assets/Ryan Castro - Avemaria - Intro Acapella - Dj Fernando Alean - 097 Bpm.mp3')" pButton pRipple type="button" icon="pi pi-play"
                            class="p-button-outlined p-button-secondary p-button-rounded"></button>
                        
                        </div>
                        <div class="col p-0 pl-1 pr-0">
                            <div class="text-sm">SL - LA ZENAIDA - ARMANDO HERNANDEZ - INTRO MELODY EXCLUSIVE PERC - STEEVEN LUCAS
                                DJ 107 BPM.MP3</div>
                        </div>
                       </div>
                </div>
            </div>
        </div>
        <hr class="pt-2 pb-0 m-0">
        <div class="col-12 pt-2 pb-2">
            <div class="grid">
                <div class="col-4 md:col-3 lg:col-4 pt-2 pb-2 ">

                    <div class="grid pt-3 ">
                        <div class="col-12  p-0"> <b><span class="bg-pink-500 text-white p-1 text-right">GÉNERO</span></b></div>
                        <div class="col-12  p-0 pt-3"><b>DEMBOW</b></div>
                    </div>

                </div>
                <div class="col-4 md:col-5 lg:col-4 pt-2 pb-2">
                    <div class="grid pt-3 p-1">
                        <div class="text-center col-12 md:col-12 lg:col-12 pt-0 pb-0.5">
                            <b><span class="bg-pink-500 text-white p-1">PRECIO</span></b>
                        </div>
                        <div class="text-center col-6 md:col-6 lg:col-6 pt-0 pb-0 pl-0"><b><s>$1.50</s></b></div>
                        <div class="text-center col-6 md:col-6 lg:col-6 pt-0 pb-0"><b>$0.75</b></div>
                    </div>
                </div>

                <div class="col-4 md:col-4 lg:col-4 pt-2 pb-2">

                    <div class="grid">
                        <div class="col-12 md:col-12 lg:col-12 text-center"> 
                            <b><span class="bg-cyan-500 text-white p-1 text-right">COMPRAR</span></b>
                        </div>
                        <div class="text-center col-12 md:col-12 lg:col-12 p-0">
                            <i class="pi pi-shopping-cart"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>