
<p-carousel [value]="listarPublicaciones"
styleClass="custom-carousel"
[numVisible]="4"
class="col-12"
[numScroll]="1"
[circular]="true"
[autoplayInterval]="3000"
[responsiveOptions]="responsiveOptions">
<ng-template let-publicacion pTemplate="item">
    <div class="card" style="width: 18rem; height: 25rem; text-align: center justify-content-center">
      <h5 class="card-title">
        {{publicacion.nombre}}
      </h5>
      <pdf-viewer
            [src]="URL_PDF+publicacion.archivo"
            [render-text]="true"
            [original-size]="false"
            style="width: 200px; height: 300px">
        </pdf-viewer>
        <div class="card-body">

          <p class="card-text">
            {{publicacion.descripcion}}
          </p>
          <button pButton type="button" icon="pi pi-file-pdf" (click)="showDialog(publicacion)"></button>
        </div>
      </div>
</ng-template>
</p-carousel>
<p-dialog [header]="instanciaPublicaciones.nombre" [(visible)]="displayDialog" [modal]="true" *ngIf="instanciaPublicaciones">
    <pdf-viewer [src]="rutaPdf"
                [render-text]="true"
                [show-all]="true"
                style="width: 600px; height: 800px"
                [original-size]="false">
    </pdf-viewer>
<!--     <div class="grid align-content-end text-right mt-2">
        <div class="col-12">
            <button (click)="descargarArchivoPdf()"  [disabled]="isLoadDescargar" pButton icon="pi pi-download"label="Descargar" class="ml-2 p-button-success" >
                <i class="pi pi-spin pi-spinner ml-1" style="font-size: 2rem" *ngIf="isLoadDescargar"></i>
            </button>
        </div>
    </div> -->
</p-dialog>

