
<p-toast></p-toast>
<form [formGroup]="formCanton" (ngSubmit)="crearCanton()">
    <div class="col-12 md:col-12 lg:col-12">
        <div class="card p-fluid ">
                <div class="grid">
                    <div class="col-3 md:col-12 lg:col-12">
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="field">
                                <label htmlFor="nombre">Nombre</label>
                                <input [ngClass]="{'ng-invalid ng-dirty': nombre}"
                                        pInputText id="name1"
                                        [readOnly]="true"
                                        (keypress)="validarLetras($event)"
                                        type="text" style="text-transform: uppercase;" formControlName="nombre"  />
    
                                <span *ngIf="nombre">
                                    <p class="text-red-600">(El nombre no puede quedar vacío)</p>
                                </span>
                            </div>
                        </div>
    
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="field">
                                <label htmlFor="latitud">Latitud</label>
                                <input pInputText
                                        [ngClass]="{'ng-invalid ng-dirty': latitud}"
                                        [readOnly]="true"
                                        (keypress)="ValidarDecimalesEnteros($event)"
                                        id="name1" type="text" formControlName="latitud"  />
    
    
                                <span *ngIf="latitud">
                                    <p class="text-red-600">(La latitud no puede quedar vacío)</p>
                                </span>
    
                            </div>
                        </div>
                        <div class="col-12 md:col-12 lg:col-12">
                            <div class="field">
                                <label htmlFor="longitud">Longitud</label>
                                <input pInputText id="name1"  [readOnly]="true" [ngClass]="{'ng-invalid ng-dirty': longitud}" type="text" formControlName="longitud"  />
    
    
                                <span *ngIf="longitud">
                                    <p class="text-red-600">(La longitud no puede quedar vacío)</p>
                                </span>
    
                            </div>
                        </div>    
                    </div>
                    <div class="col-9 md:col-12 lg:col-12">
                        <ng-container *ngTemplateOutlet="mapita" ></ng-container>
                    </div>
                </div>
        </div>
        <div class="grid align-content-end text-right">
            <div class="col-12">
                <p-button    [routerLink]="['/admin/canton']" label="Regresar" *ngIf="!modoLectura">
                    <i class="pi pi-arrow-left mr-2"></i>
                </p-button>
                <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="ml-2 p-button-success" *ngIf="!modoLectura" ></button>
                </div>
        </div>

    </div>
</form>

<ng-template #mapita>
    <div class="col-12">
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-gmap #gmap [style]="{'width':'100%','height':'320px', 'margin-bottom': '1em'}" [options]="options"
        [overlays]="overlays" (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)"
        (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>

        <div class="grid">

            <div class="col-6 md:col-6 lg:col-6">
                <button type="button" pButton label="Zoom In" icon="pi pi-plus" (click)="zoomIn(gmap.getMap())"
                style="margin-right:.25em"></button>
            </div>
            <div class="col-6 md:col-6 lg:col-6">
            <button type="button" pButton label="Zoom Out" icon="pi pi-minus" (click)="zoomOut(gmap.getMap())"></button>

            </div>
        </div>


    <p-dialog showEffect="fade" [(visible)]="dialogVisible" header="Cantón Seleccionado" [style]="{width: '300px'}" *ngIf="!modoLectura">
        <div class="p-grid p-fluid" *ngIf="selectedPosition">
            <div class="p-col-2"><label for="title">Nombre</label></div>
            <div class="p-col-10"><input type="text" autocomplete="off" pInputText id="title" [(ngModel)]="markerTitle" style="text-transform: uppercase;"   (keypress)="validarLetras($event)" [readOnly]="modoLectura">
        <span *ngIf="selectedPosition">
            <p class="text-red-600">(El nombre no puede quedar vacío)</p>
        </span>
            </div>
            <div class="p-col-2"><label for="lat">Latitud</label></div>
            <div class="p-col-10"><input id="lat" type="text" readonly pInputText [ngModel]="selectedPosition.lat()"></div>
            <div class="p-col-2"><label for="lng">Longitud</label></div>
            <div class="p-col-10"><input id="lng" type="text" readonly pInputText [ngModel]="selectedPosition.lng()"></div>
            <div class="p-col-10">
            </div>


        </div>

        <ng-template pTemplate="footer">
            <div>
                <button type="button" pButton label="Agregar Marcador" icon="pi pi-plus" (click)="addMarker()"></button>
            </div>
        </ng-template>
    </p-dialog>
    </div>
</ng-template>


