
<p-toast></p-toast>
<form [formGroup]="formCanton" (ngSubmit)="crearCanton()" *ngIf="tipoAccion=='editar'">
    <div class="col-12 md:col-12">
        <div class="card p-fluid">
            <div class="field">
                <label htmlFor="nombre">Nombre</label>
                <input pInputText id="name1" type="text" style="text-transform: uppercase;" formControlName="nombre"  />
            
                <span *ngIf="submited && this.formCanton.get('nombre')?.errors?.['required']">
                    <p class="text-red-600">(El nombre no puede quedar vacío)</p>
                </span>

            </div>
            <div class="field">
                <label htmlFor="latitud">Latitud</label>
                <input pInputText id="name1" type="text" formControlName="latitud"  />
            
            
                <span *ngIf="submited && this.formCanton.get('latitud')?.errors?.['required']">
                    <p class="text-red-600">(La latitud no puede quedar vacío)</p>
                </span>

            </div>
            <div class="field">
                <label htmlFor="longitud">Longitud</label>
                <input pInputText id="name1" type="text" formControlName="longitud"  />
            
            
                <span *ngIf="submited && this.formCanton.get('longitud')?.errors?.['required']">
                    <p class="text-red-600">(La longitud no puede quedar vacío)</p>
                </span>

            </div>

            <ng-container *ngTemplateOutlet="mapita" ></ng-container>
          


        </div>
        <div class="grid align-content-end text-right">
            <div class="col-12">
                <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" ></button>
                <button type="button" pButton icon="pi pi-times"  label="Cerrar" class="p-button-raised p-button-danger" (click)="cerrarModal()"></button>
            </div>
        </div>

    </div>
</form>

<ng-template #mapita>
    <div class="col-12">
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-gmap #gmap [style]="{'width':'100%','height':'320px', 'margin-bottom': '1em'}" [options]="options"
        [overlays]="overlays" (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)"
        (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>
    
        <div class="grid">
            
            <div class="col-12 md:col-6 lg:col-6">
                <button type="button" pButton label="Zoom In" icon="pi pi-plus" (click)="zoomIn(gmap.getMap())"
                style="margin-right:.25em"></button>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
            <button type="button" pButton label="Zoom Out" icon="pi pi-minus" (click)="zoomOut(gmap.getMap())"></button>
                
            </div>
        </div>
    
    
    <p-dialog showEffect="fade" [(visible)]="dialogVisible" header="Cantón Seleccionado" [style]="{width: '300px'}">
        <div class="p-grid p-fluid" *ngIf="selectedPosition">
            <div class="p-col-2"><label for="title">Nombre</label></div>
            <div class="p-col-10"><input type="text" autocomplete="off" pInputText id="title" [(ngModel)]="markerTitle">
            </div>
            <div class="p-col-2"><label for="lat">Latitud</label></div>
            <div class="p-col-10"><input id="lat" type="text" readonly pInputText [ngModel]="selectedPosition.lat()"></div>
            <div class="p-col-2"><label for="lng">Longitud</label></div>
            <div class="p-col-10"><input id="lng" type="text" readonly pInputText [ngModel]="selectedPosition.lng()"></div>
            <div class="p-col-10">
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div>
                <button type="button" pButton label="Agregar Marcador" icon="pi pi-plus" (click)="addMarker()"></button>
            </div>
        </ng-template>
    </p-dialog>
    </div>
</ng-template>



<div class="col-12 md:col-12" *ngIf="tipoAccion=='ver'" >
    <div class="card p-fluid">
        <div class="grid">
                <div class="col-6 md:col-6 lg:col-6">
                    <div class="field">
                        <label htmlFor="nombre"><b>Nombre</b></label>
                        <br>
                        <label htmlFor="nombre">{{modeloCanton.nombre}}</label>
                    </div>
                </div>
                <div class="col-6 md:col-6 lg:col-6">
                    <div class="field">
                        <label htmlFor="apellido"><b>Latitud</b></label>
                        <br>
                        <label htmlFor="apellido">{{modeloCanton.latitud}}</label>
                    </div>
                </div>
        </div>

        <div class="grid">
            <div class="col-6 md:col-6 lg:col-6">
                <div class="field">
                    <label htmlFor="cedula"><b>Longitud</b></label>
                    <br>
                    <label htmlFor="cedula">{{modeloCanton.longitud}}</label>
                </div>
            </div>
            <div class="col-6 md:col-6 lg:col-6">
                <div class="field">
                    <label htmlFor="celular"><b>Activo</b></label>
                    <br>
                    <label htmlFor="celular">{{modeloCanton.activo}}</label>
                </div>
            </div>
        </div>
        <ng-container *ngTemplateOutlet="mapita" ></ng-container>

    </div>
</div>
