<p-toast></p-toast>
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/principal">
        <span class="text-4xl">UNL-ACFyRPPMPL</span>
    </a>

    <button class="p-link layout-menu-button layout-topbar-button p-trigger" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    

    <div class="layout-topbar-menu-button">
        <button pButton type="button" icon="pi pi-user" 
        class="p-button-rounded p-button-text p-button-plain" 
        (click)="menu.toggle($event)" ></button>
        
        <p-menu #menu (click)="logout(items)" [popup]="true" [model]="items"></p-menu>
    </div>
    
</div>