
<p-toast></p-toast>
<form [formGroup]="formEmpresa" (ngSubmit)="crearEmpresa()"  >
    <div class="col-12 md:col-12">
        <div class="card p-fluid">
            <div class="field">
                <label htmlFor="nombre">Nombre</label>
                <input pInputText id="name1" type="text" formControlName="nombre"  />
            </div>
            <div class="field">
                <label htmlFor="direccion">Dirección</label>
                <input pInputText id="name1" type="text" formControlName="direccion"  />
            </div>
            <div class="field">
                <label htmlFor="contacto">Contacto</label>
                <input pInputText id="name1" type="text" formControlName="contacto"  />
            </div>
        </div>
        <div class="grid align-content-end text-right">
            <div class="col-12">
                <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" ></button>
                <button type="button" pButton icon="pi pi-times"  label="Cerrar" class="p-button-raised p-button-danger" (click)="cerrarModal()"></button>
            </div>
        </div>
    </div>
</form>
