

<hr class="pt-3 pb-0 m-0">
<div class="grid">
    <div class="col-2 pr-0 pl-3">
        <img src="https://proeditsclub.com/Recursos/caratulas-productos/1664646543278529802_5178713752180387_2884026994053708231_n.jpg"
            width="50rem" alt="">
    </div>
    <div class="col-10 pt-0 pl-0 pb-0 pr-0">
        <div class="col-12 pl-0">
            <div class="grid">
                <div class="col-2 pl-5">
                    <button (click)="sendPlay('../../../assets/Ryan Castro - Avemaria - Intro Acapella - Dj Fernando Alean - 097 Bpm.mp3')" pButton pRipple type="button" icon="pi pi-play"
                        class="p-button-outlined p-button-outlined p-button-secondary p-button-rounded m-1"></button>
                </div>
                <div class="col-6 pl-5 pt-5">
                    <div
                        class="surface-overlay text-xs white-space-nowrap overflow-hidden text-overflow-ellipsis">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
                <div class="col-4 pt-5">USD $2.50</div>
            </div>
        </div>
    </div>
</div>
