
.product-image {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}
.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
    width: 280px;
}
.bg-color{
    background-color: #2b74e4 !important;
}

