<app-topbar-principal></app-topbar-principal>

<div class="bg-logo mt-7 pt-6 surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center " style="min-width:75%">
     
        <div class="col-12  md:col-6 lg:col-3 xl:col-6  mb-4" style="border-radius:0px;  padding:0.4rem; background: black ">
            <div class="flex justify-content-center h-full w-full m-0 py-7 px-4" style="border-radius:0px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="grid flex-column align-items-center">
                    <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Página no encontrada</h1>
                    
                    <div class="col-12  xl:mt-0 text-center">
                        <img src="../../../../assets/images/notfound.svg" 
                        class="" style="width:100%; height:70%;">
                    </div>
                    
                    <div class="col-12  text-center">
                        <i class="pi pi-fw pi-arrow-left text-blue-500 mr-2" 
                        style="vertical-align:center;"></i><a routerLink="/admin" 
                        class="text-green-500">Volver</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
