<p-toast></p-toast>
<form [formGroup]="formGaleria" (ngSubmit)="submitGaleria()">
    <div class="col-12 md:col-12">
        <div class="card p-fluid">
            <div class="field">
                <label htmlFor="nombre">Nombre</label>
                <input pInputText id="name1"  [ngClass]="{'ng-invalid ng-dirty': nombre}" type="text" style="text-transform: uppercase;" formControlName="nombre" maxlength="250"/>

                <!--       <span *ngIf="nombre && this.formParroquia.get('nombre')?.errors?.['required']">
                    <p class="text-red-600">(El nombre no puede quedar vacío)</p>
                </span>
                <div *ngIf="nombre && this.formParroquia.get('nombre')?.errors?.['maxlength']">
                    <p class="text-red-600">(Debe tener como máximo 10 caracteres)</p>
                </div> -->


            </div>
            <div class="field">
                <label htmlFor="nombre">Imagen</label>
                <input pInputText id="name1"  [ngClass]="{'ng-invalid ng-dirty': imagen}" type="text" style="text-transform: uppercase;" formControlName="imagen" maxlength="250"/>

                <!--       <span *ngIf="nombre && this.formParroquia.get('nombre')?.errors?.['required']">
                    <p class="text-red-600">(El nombre no puede quedar vacío)</p>
                </span>
                <div *ngIf="nombre && this.formParroquia.get('nombre')?.errors?.['maxlength']">
                    <p class="text-red-600">(Debe tener como máximo 10 caracteres)</p>
                </div> -->


            </div>
            <div class="field">
                <label htmlFor="nombre">Descripcion</label>
                <input pInputText id="name1"  [ngClass]="{'ng-invalid ng-dirty': descripcion}" type="text" style="text-transform: uppercase;" formControlName="descripcion" maxlength="250"/>

                <!--       <span *ngIf="nombre && this.formParroquia.get('nombre')?.errors?.['required']">
                    <p class="text-red-600">(El nombre no puede quedar vacío)</p>
                </span>
                <div *ngIf="nombre && this.formParroquia.get('nombre')?.errors?.['maxlength']">
                    <p class="text-red-600">(Debe tener como máximo 10 caracteres)</p>
                </div> -->


            </div>
        </div>
        <div class="grid align-content-end text-right">
            <div class="col-12">
                <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" ></button>
                <button type="button" pButton icon="pi pi-times"  label="Cerrar" *ngIf="modoLectura" class="p-button-raised p-button-danger"></button>
            </div>
        </div>
    </div>
</form>


