<p-toast></p-toast>
<form [formGroup]="formGaleria" (ngSubmit)="submitGaleria()" enctype="multipart/form-data" >
    <div class="col-12 md:col-12">
        <div class="card p-fluid">
            <div class="field">
                <label htmlFor="nombre">Nombre</label>
                <input pInputText id="name1"  [ngClass]="{'ng-invalid ng-dirty': nombre}" type="text" formControlName="nombre" maxlength="250"/>
                <span *ngIf="nombre && this.formGaleria.get('nombre')?.errors?.['required']">
                    <p class="text-red-600">(El nombre no puede quedar vacío)</p>
                </span>
            </div>
            <div class="field">

                <label htmlFor="nombre">Imagen</label>
                <input pInputText id="name1"
                        [ngClass]="{'ng-invalid ng-dirty': imagen}"
                        type="file"
                        accept="image/*"
                        (change)="fileEvent($event)"
                        style="text-transform: uppercase;"
                        formControlName="imagen" />
                <span *ngIf="imagen && this.formGaleria.get('imagen')?.errors?.['required']">
                    <p class="text-red-600">(La imagen no puede quedar vacío)</p>
                </span>
            </div>
            <div class="field">
                <label htmlFor="nombre">Descripcion</label>
                <input pInputText id="name1"  [ngClass]="{'ng-invalid ng-dirty': descripcion}" type="text" formControlName="descripcion" maxlength="250"/>
                <span *ngIf="descripcion && this.formGaleria.get('descripcion')?.errors?.['required']">
                    <p class="text-red-600">(La descripcion no puede quedar vacío)</p>
                </span>
            </div>
        </div>
        <div class="grid align-content-end text-right">
            <div class="col-12">
                <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" ></button>
                <button type="button" pButton icon="pi pi-times"  label="Cerrar" *ngIf="modoLectura" class="p-button-raised p-button-danger"></button>
            </div>
        </div>
    </div>
</form>


