
<p-toast></p-toast>
<form [formGroup]="formUsuario" (ngSubmit)="crearUsuario()">
    <div class="card p-fluid">
        <div class="grid">
            <div class="col-6">
                <div class="field">
                    <label htmlFor="username">Username</label>
                    <input pInputText id="name1"  type="text" formControlName="username"/>
                     <span *ngIf="submited && this.formUsuario.get('username')?.errors?.['required']">
                        <p class="text-red-600">(El username no puede quedar vacío)</p>
                    </span>
                </div>
            </div>
            <div class="col-6">
                <div class="field">
                    <label htmlFor="email">Email</label>
                    <input pInputText id="name1" type="email" formControlName="email"  />

                    <span *ngIf="submited && this.formUsuario.get('email')?.errors?.['required']">
                        <p class="text-red-600">(El email no puede quedar vacío)</p>
                    </span>

                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-6">
                <div class="field">
                    <label htmlFor="password">Password</label>
                    <p-password formControlName="password" [toggleMask]="true"></p-password>

                    <span *ngIf="submited && this.formUsuario.get('password')?.errors?.['required']">
                        <p class="text-red-600">(El password no puede quedar vacío)</p>
                    </span>

                </div>
            </div>
            <div class="col-6">
                <div class="field">
                    <label htmlFor="password2">Password</label>
                    <p-password formControlName="password2"  [toggleMask]="true"></p-password>

                    <span *ngIf="submited && this.formUsuario.get('password2')?.errors?.['required']">
                        <p class="text-red-600">(El password no puede quedar vacío)</p>
                    </span>

                    <div class="form-group" *ngIf=" comparandoPassword && formUsuario.errors?.['comparandoPassword'] && !formUsuario.pristine" >
                        <p class="text-red-600">
                          Las contraseñas deben ser iguales
                        </p>
                      </div>
                </div>

            </div>
        </div>
        <div class="grid">
            <div class="col">
                <div>Tiene permisos?</div>
                <br>
                <p-inputSwitch (onChange)="handleChange($event)" formControlName="is_staff" ></p-inputSwitch>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="grid align-content-end text-right">
            <div class="col-12">
                <p-button    [routerLink]="['/admin/usuario']" label="Regresar" *ngIf="!modoLectura">
                    <i class="pi pi-arrow-left mr-2"></i>
                </p-button>
                <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="ml-2 p-button-success" *ngIf="!modoLectura"></button>
            </div>
        </div>
    </div>
</form>
