
<p-toast></p-toast>
<form [formGroup]="formUsuario" (ngSubmit)="crearUsuario()" *ngIf="tipoAccion=='editar'">
    <div class="col-12">
        <div class="card p-fluid">
           <div class="field">
                <label htmlFor="username">Username</label>
                <input pInputText id="name1" style="text-transform: uppercase;" type="text" formControlName="username"/>

                <span *ngIf="submited && this.formUsuario.get('username')?.errors?.['required']">
                    <p class="text-red-600">(El username no puede quedar vacío)</p>
                </span>
            </div>
            
            <div class="field">
                <label htmlFor="email">Email</label>
                <input pInputText id="name1" type="email" formControlName="email"  />

                <span *ngIf="submited && this.formUsuario.get('email')?.errors?.['required']">
                    <p class="text-red-600">(El email no puede quedar vacío)</p>
                </span>

            </div>
            <div class="field">
                <label htmlFor="password">Password</label>
                <p-password formControlName="password" [toggleMask]="true"></p-password>

                <span *ngIf="submited && this.formUsuario.get('password')?.errors?.['required']">
                    <p class="text-red-600">(El password no puede quedar vacío)</p>
                </span>

            </div>

            <div class="field">
                <label htmlFor="password2">Password</label>
                <p-password formControlName="password2"  [toggleMask]="true"></p-password>

                <span *ngIf="submited && this.formUsuario.get('password2')?.errors?.['required']">
                    <p class="text-red-600">(El password no puede quedar vacío)</p>
                </span>

                <div class="form-group" *ngIf=" comparandoPassword && formUsuario.errors?.['comparandoPassword'] && !formUsuario.pristine" >
                    <p class="text-red-600">
                      Las contraseñas deben ser iguales
                    </p>
                  </div>
            </div>
<br>
            <div>Tiene permisos?</div>
            <br>
            <p-inputSwitch (onChange)="handleChange($event)" formControlName="is_staff" ></p-inputSwitch>

        </div>
        <div class="grid align-content-end text-right">
            <div class="col-12">
                <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" ></button>
                <button type="button" pButton icon="pi pi-times"  label="Cerrar" class="p-button-raised p-button-danger" (click)="cerrarModal()"></button>
            </div>
        </div>

    </div>
</form>


<div class="col-12 md:col-12" *ngIf="tipoAccion=='ver'" >
    <div class="card p-fluid">
        <div class="grid">
                <div class="col-6 md:col-6 lg:col-6">
                    <div class="field">
                        <label htmlFor="nombre"><b>Username</b></label>
                        <br>
                        <label htmlFor="nombre">{{modeloUnaUsuario.username}}</label>
                    </div>
                </div>
                <div class="col-6 md:col-6 lg:col-6">
                    <div class="field">
                        <label htmlFor="apellido"><b>Email</b></label>
                        <br>
                        <label htmlFor="apellido">{{modeloUnaUsuario.email}}</label>
                    </div>
                </div>
        </div>

    </div>
</div>
