<div class="layout-topbar shadow-5" >
    <div routerLink="/admin" class="flex justify-content-between  flex-wrap card-container col-12">
        <div class="login text-4xl flex align-items-center justify-content-center font-bold text-white border-round m-2">
            UNL-ACFyRPPMPL
        </div>
        <div *ngIf="login" routerLink="/auth/login" class=" login text-2xl flex align-items-center justify-content-centerfont-bold text-gray-900 border-round m-2">
            Login
        </div>
    </div>
</div>
<br>
