<p-toast></p-toast>
<div class="card ui-fluid">
    <div class="col-12">
       <p-button label="Agregar" icon="pi pi-plus"  [routerLink]="['/admin/publicaciones/crear']"></p-button>
    </div>
    <p-table
        #dt
        [value]="listarPublicaciones"
        [(selection)]="selectedCustomer"
        dataKey="id"
        styleClass="p-datatable-customers"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]"
        [loading]="loading"
        responsiveLayout="scroll"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['id','nombre']">
        <ng-template pTemplate="caption">

        <div class="table-header">
            <div class="grid">
                <div class="col-6">
                    <h3 class="mt-4"><b>Gestionar Publicaciones</b></h3>
                </div>

                <div class="col-6">
                    <div class="col-12 text-right">

                        <div class="grid align-items-center">
                            <div class="col-4 md:col-6 lg:col-6">Buscar</div>
                            <div class="col-8 md:col-6 lg:col-6 ">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                        placeholder="Buscar por Nombre" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr class="grid">
                <th class="col-1">
                    <div class="flex justify-content-between align-items-center">
                        #
                        <p field="id"></p>
                    </div>
                </th>

                <th  class="col-2">
                    <div class="flex justify-content-between align-items-center">
                        PDF
                        <p field="fk_canton_id"></p>
                    </div>
                </th>
                <th  class="col-3">
                    <div class="flex justify-content-between align-items-center">
                        Nombre
                        <p field="nombre"></p>
                    </div>
                </th>
                <th  class="col-4">
                    <div class="flex justify-content-between align-items-center">
                        Descripcion
                        <p field="descripcion"></p>
                    </div>
                </th>

                <th class="col-2">
                    <div class="flex justify-content-between align-items-center" >
                        Acciones
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-publicaciones let-rowIndex="rowIndex">
            <tr class="p-selectable-row grid">

                <td class="col-1">
                    <span class="p-column-title">#</span>
                    {{rowIndex+1}}
                </td>
                <td class="col-2">
                    <span class="p-column-title">PDF</span>
                    <button pButton type="button" icon="pi pi-file-pdf" (click)="showDialog(publicaciones)"></button>
                </td>
                <td class="col-3">
                    <span class="p-column-title">Archivo</span>
                    <span class="image-text">{{publicaciones.nombre}}</span>
                </td>

                <td class="col-4">
                    <span class="p-column-title">Descripcion</span>
                    <span class="image-text">{{publicaciones.descripcion}}</span>
                </td>

                <td class="col-2">
                    <span class="p-column-title">Acciones</span>
                    <div class="grid mt-2">
                        <div class="col">
                            <i class="pi pi-pencil pl-3"  [routerLink]="['/admin/publicaciones/editar',publicaciones.id]"></i>
                        </div>
                        <div class="col">
                            <i class="pi pi-trash pl-3" (click)="btnEliminarPublicacion(publicaciones)"></i>
                        </div>
                    </div>
                 <!--    <i class="pi pi-pencil pl-3"  [routerLink]="['/admin/galeria/editar',galeria.id]"></i>
                    <i class="pi pi-trash pl-3" (click)="btnEliminarGaleria(galeria)"></i> -->
                   <!--  <div class="grid">
                    </div> -->
           <!--          <div class="text-center pr-8">
                       <i class="pi pi-pencil pl-3"  [routerLink]="['/admin/galeria/editar',galeria.id]"></i>
                        <i class="pi pi-trash pl-3" (click)="btnEliminarGaleria(galeria)"></i>
                    </div> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No existen resultados</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog [header]="instanciaPublicaciones.nombre" [(visible)]="displayDialog" [modal]="true" *ngIf="instanciaPublicaciones">
    <pdf-viewer [src]="rutaPdf"
                [render-text]="true"
                [original-size]="false"
                style="width: 500px; height: 600px">
    </pdf-viewer>
</p-dialog>
