<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center text-black">
    <div class="mb-3 font-bold text-2xl text-left pb-3">
        <span class="text-900">Grupo de Investigación </span>
    </div>
    <div class="grid">
        <div class="col-4 md:col-4 mb-4 px-5">
            <img src="assets/demo/images/login/avatar.png" alt="Image" height="100" class="mb-3">
            <div class="text-900 mb-3 font-medium font-bold">Nombre</div>
            <div class="text-900 mb-3 font-medium font-bold">Cargo</div>
            <div class="text-900 mb-3 font-medium font-bold">Correo</div>
            <div class="text-900 mb-3 font-medium font-bold">Teléfono</div>
        </div>
        <div class="col-4 md:col-4 mb-4 px-5">
            <img src="assets/demo/images/login/avatar.png" alt="Image" height="100" class="mb-3">
            <div class="text-900 mb-3 font-medium font-bold">Nombre</div>
            <div class="text-900 mb-3 font-medium font-bold">Cargo</div>
            <div class="text-900 mb-3 font-medium font-bold">Correo</div>
            <div class="text-900 mb-3 font-medium font-bold">Teléfono</div>
        </div>
        <div class="col-4 md:col-4 mb-4 px-5">
            <img src="assets/demo/images/login/avatar.png" alt="Image" height="100" class="mb-3">
            <div class="text-900 mb-3 font-medium font-bold">Nombre</div>
            <div class="text-900 mb-3 font-medium font-bold">Cargo</div>
            <div class="text-900 mb-3 font-medium font-bold">Correo</div>
            <div class="text-900 mb-3 font-medium font-bold">Teléfono</div>
        </div>
    </div>
</div>