
<p-toast></p-toast>
<form [formGroup]="formIntermediario" (ngSubmit)="crearLugar()" *ngIf="tipoAccion=='editar'">
    <div class="col-12 md:col-12">
        <div class="card p-fluid">
            <div class="field">
                <label htmlFor="lugar">Nombre</label>
                <input pInputText id="name1" style="text-transform: uppercase;" type="text" formControlName="lugar"  />
            
                <span *ngIf="submited && this.formIntermediario.get('lugar')?.errors?.['required']">
                    <p class="text-red-600">(El lugar no puede quedar vacío)</p>
                </span>

            </div>
        </div>
        <div class="grid align-content-end text-right">
            <div class="col-12">
                <button type="Submit"   pButton icon="pi pi-check"label="Guardar" class="mr-2" ></button>
                <button type="button" pButton icon="pi pi-times"  label="Cerrar" class="p-button-raised p-button-danger" (click)="cerrarModal()"></button>
            </div>
        </div>

    </div>
</form>



<div class="col-12 md:col-12" *ngIf="tipoAccion=='ver'" >
    <div class="card p-fluid">
        <div class="grid">
                <div class="col-6 md:col-6 lg:col-6">
                    <div class="field">
                        <label htmlFor="nombre"><b>Nombre</b></label>
                        <br>
                        <label htmlFor="nombre">{{modeloIntermediario.lugar}}</label>
                    </div>
                </div>
        </div>

    </div>
</div>
